:root {
  --primary-color: #5f4444;
  --secondary-color: #af3264;
  --third-color: #ff63b5;
  --fourth-color: #fcd1d1;
  --box-shadow: 0 0.3em 0.625em rgba(0, 0, 0, 0.3);
}

.bg-dark {
  background-color: var(--primary-color) !important;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 100px;
  background-color: var(--fourth-color);
}
@media (max-width: 576px) {
  h1 {
    font-size: 2.5em !important;
  }
  h2 {
    font-size: 1.75em !important;
    text-align: center !important;
  }
  h3 {
    font-size: 1.25em !important;
  }
  p {
    display: block;
    text-align: center !important;
    font-size: 0.75em !important;
  }
  .btn {
    display: block !important;
    text-align: center;
  }
}
h1,
h3 {
  display: block;
  text-align: center !important;
}

h1 {
  font-size: 6em;
  color: var(--secondary-color);
}

h2 {
  text-align: left;
  font-size: 2.5em;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.5em;
  opacity: 0.7;
}

p {
  text-align: left;
  background: var(--fourth-color);
  color: var(--primary-color);
  border-radius: 0.25em;
  font-size: 1.125em !important;
  line-height: 1.5;
}

.btn {
  display: table-cell;
  text-decoration: none;
  font-weight: 500;
  color: var(--fourth-color);
  background-color: var(--secondary-color);
  padding: 1.25em 1em;
  border-radius: 0.25em;
  box-shadow: var(--box-shadow);
}

.btn:hover {
  color: var(--primary-color);
}
.navigation-links {
  display: flex;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  justify-content: center;
}

.navigation-links a {
  margin: 1.25em;
  border-radius: 0.25em;
  padding: 1.25em 1em;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: var(--third-color) !important;
}

.about-link {
  color: var(--primary-color);
  border: 0.0625em solid var(--primary-color);
}

.about-link:hover {
  color: var(--third-color) !important;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 1.875em 0;
}

.about-paragraphs p {
  margin: 0.625em;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.75em;
  text-decoration: none;
}

.email-link:hover {
  color: var(--third-color);
  text-decoration: underline;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
